$font-OpenSans: 'Open Sans', sans-serif;
$font-Montserrat: 'Montserrat', sans-serif;
$font-Nunito: 'Nunito', sans-serif;

$color-primary-1: #cBB564; // #ffb600 #ffda51 #cBB564
$color-primary: #cBB564;
$color-primary-2: #0B0C51;