<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="column-title">Đối tác chia sẻ về chúng tôi ...</h3>

        <div id="testimonial-slide" class="testimonial-slide">
          <div class="item">
            <div class="quote-item">
              <span class="quote-text">
                Chúng tôi muốn gửi lời cảm ơn chân thành nhất tới toàn thể đội ngũ của VIETGEN về việc hỗ
                trợ đào tạo tiếng Anh và Đức cho nhân sự của chúng tôi. Sự hỗ trợ chuyên nghiệp và chất lượng của
                quý trung tâm đã giúp chúng tôi đạt được những mục tiêu đào tạo một cách hiệu quả và thành công.
              </span>

              <div class="quote-item-footer">
                <img loading="lazy" class="testimonial-thumb" src="/images/clients/testimonial1.png" alt="testimonial">
                <div class="quote-item-info">
                  <h3 class="quote-author">Mr. Le Dinh Trung</h3>
                  <span class="quote-subtext">Giám đốc - Viện nghiên cứu AI Grab</span>
                </div>
              </div>
            </div><!-- Quote item end -->
          </div>
          <!--/ Item 1 end -->

          <div class="item">
            <div class="quote-item">
              <span class="quote-text">
                Việc có được các khóa học chất lượng từ VIETGEN không chỉ giúp nhân sự của chúng tôi nâng
                cao trình độ ngôn ngữ mà còn mở ra cơ hội mới trong công việc và sự phát triển cá nhân. Chúng tôi
                rất đánh giá cao sự linh hoạt trong việc tùy chỉnh nội dung đào tạo để phù hợp với nhu cầu cụ thể
                của nhóm của chúng tôi.
              </span>

              <div class="quote-item-footer">
                <img loading="lazy" class="testimonial-thumb" src="/images/clients/testimonial2.png" alt="testimonial">
                <div class="quote-item-info">
                  <h3 class="quote-author">Dr. Tran Hai Anh</h3>
                  <span class="quote-subtext">CEO - GIAP Dental Clinic</span>
                </div>
              </div>
            </div><!-- Quote item end -->
          </div>
          <!--/ Item 2 end -->

          <div class="item">
            <div class="quote-item">
              <span class="quote-text">
                Những giáo viên tận tâm và giàu kinh nghiệm của trung tâm đã tạo ra một môi trường học tập tích
                cực và động viên, giúp nhân sự của chúng tôi tự tin hơn khi sử dụng tiếng Anh và Đức trong công
                việc hàng ngày.
                Chúng tôi hi vọng có thể tiếp tục hợp tác với VIETGEN trong tương lai và xây dựng mối quan hệ
                đào tạo bền vững hơn nữa. Một lần nữa, chân thành cảm ơn sự hỗ trợ và cam kết của quý trung tâm.
              </span>

              <div class="quote-item-footer">
                <img loading="lazy" class="testimonial-thumb" src="/images/clients/testimonial3.png" alt="testimonial">
                <div class="quote-item-info">
                  <h3 class="quote-author">Mr. Doan Tan Phuc</h3>
                  <span class="quote-subtext">Founder - ICC Academy</span>
                </div>
              </div>
            </div><!-- Quote item end -->
          </div>
          <!--/ Item 3 end -->

        </div>
        <!--/ Testimonial carousel end-->
      </div><!-- Col end -->

      <div class="col-lg-6 mt-5 mt-lg-0">

        <h3 class="column-title">Một số đơn vị đang phối hợp</h3>

        <div class="row all-clients">
          <div class="col-sm-4 col-6">
            <figure class="clients-logo">
              <a href="#!"><img loading="lazy" class="img-fluid" src="/images/clients/client1.png"
                  alt="clients-logo" /></a>
            </figure>
          </div><!-- Client 1 end -->

          <div class="col-sm-4 col-6">
            <figure class="clients-logo">
              <a href="#!"><img loading="lazy" class="img-fluid" src="/images/clients/client2.png"
                  alt="clients-logo" /></a>
            </figure>
          </div><!-- Client 2 end -->

          <div class="col-sm-4 col-6">
            <figure class="clients-logo">
              <a href="#!"><img loading="lazy" class="img-fluid" src="/images/clients/client3.png"
                  alt="clients-logo" /></a>
            </figure>
          </div><!-- Client 3 end -->

          <div class="col-sm-4 col-6">
            <figure class="clients-logo">
              <a href="#!"><img loading="lazy" class="img-fluid" src="/images/clients/client4.png"
                  alt="clients-logo" /></a>
            </figure>
          </div><!-- Client 4 end -->

          <div class="col-sm-4 col-6">
            <figure class="clients-logo">
              <a href="#!"><img loading="lazy" class="img-fluid" src="/images/clients/client5.png"
                  alt="clients-logo" /></a>
            </figure>
          </div><!-- Client 5 end -->

          <div class="col-sm-4 col-6">
            <figure class="clients-logo">
              <a href="#!"><img loading="lazy" class="img-fluid" src="/images/clients/client6.png"
                  alt="clients-logo" /></a>
            </figure>
          </div><!-- Client 6 end -->

        </div><!-- Clients row end -->

      </div><!-- Col end -->

    </div>
    <!--/ Content row end -->
  </div>
  <!--/ Container end -->
</section><!-- Content end -->
