<section id="project-area" class="project-area solid-bg">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <h2 class="section-title">Cảm nhận học viên</h2>
        <h3 class="section-sub-title">Đã và đang đồng hành</h3>
      </div>
    </div>
    <!--/ Title row end -->

    <div class="row">
      <div class="col-12">
        <div class="shuffle-btn-group">
          <label class="active" for="all">
            <input type="radio" name="shuffle-filter" id="all" value="all" checked="checked">Tất cả
          </label>
          <label for="giaotiep">
            <input type="radio" name="shuffle-filter" id="giaotiep" value="giaotiep">Giao tiếp
          </label>
          <label for="ielts">
            <input type="radio" name="shuffle-filter" id="ielts" value="ielts">IELTS
          </label>
          <label for="celpip">
            <input type="radio" name="shuffle-filter" id="celpip" value="celpip">CELPIP
          </label>
          <label for="telc">
            <input type="radio" name="shuffle-filter" id="telc" value="telc">TELC/GOETHE
          </label>
        </div><!-- project filter end -->


        <div class="row shuffle-wrapper">
          <div class="col-1 shuffle-sizer"></div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;celpip&quot;]">
            <div class="project-img-container">
              <a class="gallery-popup" href="/images/feedback/tienganh/img_1.png" aria-label="project-img">
                <img class="img-fluid feedback-img-preview" src="/images/feedback/tienganh/img_1.png" alt="project-img">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title">
                    <a href="projects-single.html">5 🌟</a>
                  </h3>
                  <p class="project-cat"></p>
                </div>
              </div>
            </div>
          </div><!-- shuffle item 1 end -->

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;ielts&quot;]">
            <div class="project-img-container">
              <a class="gallery-popup" href="/images/feedback/tienganh/img_2.png" aria-label="project-img">
                <img class="img-fluid feedback-img-preview" src="/images/feedback/tienganh/img_2.png" alt="project-img">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title">
                    <a href="projects-single.html">5 🌟</a>
                  </h3>
                  <p class="project-cat"></p>
                </div>
              </div>
            </div>
          </div><!-- shuffle item 2 end -->

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;telc&quot;,&quot;giaotiep&quot;]">
            <div class="project-img-container">
              <a class="gallery-popup" href="/images/feedback/tienganh/img_3.png" aria-label="project-img">
                <img class="img-fluid feedback-img-preview" src="/images/feedback/tienganh/img_3.png" alt="project-img">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title">
                    <a href="projects-single.html">4 🌟</a>
                  </h3>
                  <p class="project-cat"></p>
                </div>
              </div>
            </div>
          </div><!-- shuffle item 3 end -->

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;telc&quot;]">
            <div class="project-img-container">
              <a class="gallery-popup" href="/images/feedback/tienganh/img_4.png" aria-label="project-img">
                <img class="img-fluid feedback-img-preview" src="/images/feedback/tienganh/img_4.png" alt="project-img">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title">
                    <a href="projects-single.html">5 🌟</a>
                  </h3>
                  <p class="project-cat"></p>
                </div>
              </div>
            </div>
          </div><!-- shuffle item 4 end -->

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;telc&quot;]">
            <div class="project-img-container">
              <a class="gallery-popup" href="/images/feedback/tienganh/img_5.png" aria-label="project-img">
                <img class="img-fluid feedback-img-preview" src="/images/feedback/tienganh/img_5.png" alt="project-img">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title">
                    <a href="projects-single.html">4 🌟</a>
                  </h3>
                  <p class="project-cat"></p>
                </div>
              </div>
            </div>
          </div><!-- shuffle item 5 end -->

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;celpip&quot;,&quot;ielts&quot;]">
            <div class="project-img-container">
              <a class="gallery-popup" href="/images/feedback/tienganh/img_6.png" aria-label="project-img">
                <img class="img-fluid feedback-img-preview" src="/images/feedback/tienganh/img_6.png" alt="project-img">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title">
                    <a href="projects-single.html">5 🌟</a>
                  </h3>
                  <p class="project-cat"></p>
                </div>
              </div>
            </div>
          </div><!-- shuffle end -->
        </div>

        <!-- <div class="col-12">
          <div class="general-btn text-center">
            <a class="btn btn-primary" href="projects.html">Xem thêm</a>
          </div>
        </div> -->

      </div><!-- Content row end -->
    </div>
    <!--/ Container end -->
</section><!-- Project area end -->
