<section id="news" class="news">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h2 class="section-title">Cam kết chất lượng đầu ra</h2>
        <h3 class="section-sub-title">Chương trình học</h3>
      </div>
    </div>
    <!--/ Title row end -->
    <!-- Tiếng anh -->
    <div class="row">
      <div class="col-lg-4 col-md-4 mb-4">
        <div class="latest-post">
          <div class="latest-post-media position-relative">
            <a href="/pages/chuong_trinh_hoc/tieng_anh/giao_tiep.html"
              class="latest-post-img  d-flex align-items-center justify-content-center">
              <img loading="lazy" class="img-fluid" src="/images/co_nuoc_anh.jpg" alt="img">
              <span class="position-absolute text-white font-bold"
                style="font-size: 1.5rem; border: 1px solid; padding: .5rem; background: #00000040;">GIAO TIẾP</span>
            </a>
          </div>
          <div class="post-body">
            <div class="latest-post-meta">
              <table class="w-100 table table-bordered">
                <tbody>
                  <tr>
                    <td>Lộ trình LV1</td>
                    <td><span class="text-danger">36 buổi</span></td>
                  </tr>
                  <tr>
                    <td>Lộ trình LV2</td>
                    <td><span class="text-danger">36 buổi</span></td>
                  </tr>
                  <tr>
                    <td>Lộ trình LV3</td>
                    <td><span class="text-danger">39 buổi</span></td>
                  </tr>
                  <tr>
                    <td>Lộ trình LV4</td>
                    <td><span class="text-danger">39 buổi</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- <div class="latest-post-meta">
              <span class="post-item-date">
                <i class="fa fa-clock-o"></i> July 20, 2017
              </span>
            </div> -->
          </div>
        </div><!-- Latest post end -->
      </div><!-- 1st post col end -->

      <div class="col-lg-4 col-md-4 mb-4">
        <div class="latest-post">
          <div class="latest-post-media position-relative">
            <a href="/pages/chuong_trinh_hoc/tieng_anh/ielts.html"
              class="latest-post-img  d-flex align-items-center justify-content-center">
              <img loading="lazy" class="img-fluid" src="/images/co_nuoc_anh.jpg" alt="img">
              <span class="position-absolute text-white font-bold"
                style="font-size: 1.5rem; border: 1px solid; padding: .5rem; background: #00000040;">IELTS</span>
            </a>
          </div>
          <div class="post-body">
            <div class="latest-post-meta">
              <table class="w-100 table table-bordered">
                <tbody>
                  <tr>
                    <td>Lộ trình 0.0 ➡️ 3.0</td>
                    <td><span class="text-danger">43 buổi</span></td>
                  </tr>
                  <tr>
                    <td>Lộ trình 3.0 ➡️ 5.0</td>
                    <td><span class="text-danger">45 buổi</span></td>
                  </tr>
                  <tr>
                    <td>Lộ trình 5.0 ➡️ 6.0</td>
                    <td><span class="text-danger">39 buổi</span></td>
                  </tr>
                  <tr>
                    <td>Lộ trình 6.0 ➡️ 6.5</td>
                    <td><span class="text-danger">36 buổi</span></td>
                  </tr>
                  <tr>
                    <td>Lộ trình 6.5 ➡️ 7+</td>
                    <td><span class="text-danger">41 buổi</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- <div class="latest-post-meta">
              <span class="post-item-date">
                <i class="fa fa-clock-o"></i> July 20, 2017
              </span>
            </div> -->
          </div>
        </div><!-- Latest post end -->
      </div><!-- 2nd post col end -->

      <div class="col-lg-4 col-md-4 mb-4">
        <div class="latest-post">
          <div class="latest-post-media position-relative">
            <a href="/pages/chuong_trinh_hoc/tieng_anh/celpip.html"
              class="latest-post-img  d-flex align-items-center justify-content-center">
              <img loading="lazy" class="img-fluid" src="/images/co_nuoc_canada.jpg" alt="img">
              <span class="position-absolute text-white font-bold"
                style="font-size: 1.5rem; border: 1px solid; padding: .5rem; background: #00000040;">CELPIP</span>
            </a>
          </div>
          <div class="post-body">
            <div class="latest-post-meta">
              <table class="w-100 table table-bordered">
                <tbody>
                  <tr>
                    <td>Lộ trình LV1 ➡️ LV3</td>
                    <td><span class="text-danger">43 buổi</span></td>
                  </tr>
                  <tr>
                    <td>Lộ trình LV3 ➡️ LV5</td>
                    <td><span class="text-danger">45 buổi</span></td>
                  </tr>
                  <tr>
                    <td>Lộ trình LV5 ➡️ LV7</td>
                    <td><span class="text-danger">39 buổi</span></td>
                  </tr>
                  <tr>
                    <td>Lộ trình LV7 ➡️ LV9</td>
                    <td><span class="text-danger">36 buổi</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- <div class="latest-post-meta">
              <span class="post-item-date">
                <i class="fa fa-clock-o"></i> July 20, 2017
              </span>
            </div> -->
          </div>
        </div><!-- Latest post end -->
      </div><!-- 3rd post col end -->
    </div>
    <!-- Tiếng đức -->
    <div class="row">
      <div class="col-lg-4 col-md-4 mb-4">
        <div class="latest-post">
          <div class="latest-post-media position-relative">
            <a href="/pages/chuong_trinh_hoc/tieng_duc/giao_tiep.html"
              class="latest-post-img  d-flex align-items-center justify-content-center">
              <img loading="lazy" class="img-fluid" src="/images/co_nuoc_duc.jpg" alt="img">
              <span class="position-absolute text-white font-bold"
                style="font-size: 1.5rem; border: 1px solid; padding: .5rem; background: #00000040;">GIAO TIẾP</span>
            </a>
          </div>
          <div class="post-body">
            <div class="latest-post-meta">
              <table class="w-100 table table-bordered">
                <tbody>
                  <tr>
                    <td>Lộ trình A1</td>
                    <td><span class="text-danger">36 buổi</span></td>
                  </tr>
                  <tr>
                    <td>Lộ trình A2</td>
                    <td><span class="text-danger">48 buổi</span></td>
                  </tr>
                  <tr>
                    <td>Lộ trình B1</td>
                    <td><span class="text-danger">60 buổi</span></td>
                  </tr>
                  <tr>
                    <td>Lộ trình B2</td>
                    <td><span class="text-danger">65 buổi</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- <div class="latest-post-meta">
              <span class="post-item-date">
                <i class="fa fa-clock-o"></i> July 20, 2017
              </span>
            </div> -->
          </div>
        </div><!-- Latest post end -->
      </div><!-- 1st post col end -->

      <div class="col-lg-4 col-md-4 mb-4">
        <div class="latest-post">
          <div class="latest-post-media position-relative">
            <a href="/pages/chuong_trinh_hoc/tieng_duc/chung_chi.html"
              class="latest-post-img  d-flex align-items-center justify-content-center">
              <img loading="lazy" class="img-fluid" src="/images/co_nuoc_duc.jpg" alt="img">
              <span class="position-absolute text-white font-bold"
                style="font-size: 1.5rem; border: 1px solid; padding: .5rem; background: #00000040;">Chứng chỉ</span>
            </a>
          </div>
          <div class="post-body">
            <div class="latest-post-meta">
              <table class="w-100 table table-bordered">
                <tbody>
                  <tr>
                    <td>Lộ trình luyện đề A1</td>
                    <td><span class="text-danger">15 buổi</span></td>
                  </tr>
                  <tr>
                    <td>Lộ trình luyện đề A2</td>
                    <td><span class="text-danger">15 buổi</span></td>
                  </tr>
                  <tr>
                    <td>Lộ trình luyện đề B1</td>
                    <td><span class="text-danger">15 buổi</span></td>
                  </tr>
                  <tr>
                    <td>Lộ trình luyện đề B2</td>
                    <td><span class="text-danger">15 buổi</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- <div class="latest-post-meta">
              <span class="post-item-date">
                <i class="fa fa-clock-o"></i> July 20, 2017
              </span>
            </div> -->
          </div>
        </div><!-- Latest post end -->
      </div><!-- 2nd post col end -->

       <div class="col-lg-4 col-md-4 mb-4">
         <div class="latest-post">
           <div class="latest-post-media position-relative">
             <a href="/pages/chuong_trinh_hoc/tieng_duc/telc.html"
               class="latest-post-img  d-flex align-items-center justify-content-center">
               <img loading="lazy" class="img-fluid" src="/images/co_nuoc_duc.jpg" alt="img">
               <span class="position-absolute text-white font-bold"
                 style="font-size: 1.5rem; border: 1px solid; padding: .5rem; background: #00000040;">Ôn thi/Quốc tịch</span>
             </a>
           </div>
           <div class="post-body">
             <div class="latest-post-meta">
               <table class="w-100 table table-bordered">
                 <tbody>
                   <tr>
                     <td>Lộ trình luyện đề TELC/GOETHE - B1</td>
                     <td><span class="text-danger">15 buổi</span></td>
                   </tr>
                   <tr>
                     <td>Lộ trình luyện đề TELC/GOETHE - B2</td>
                     <td><span class="text-danger">15 buổi</span></td>
                   </tr>
                 </tbody>
               </table>
             </div>
             <!-- <div class="latest-post-meta">
              <span class="post-item-date">
                <i class="fa fa-clock-o"></i> July 20, 2017
              </span>
            </div> -->
           </div>
         </div><!-- Latest post end -->
       </div><!-- 2nd post col end -->

      <!-- <div class="col-lg-4 col-md-6 mb-4 d-flex align-items-center justify-content-center">
        <a class="btn btn-primary" href="/pages/chuong_trinh_hoc/tieng_anh/giao_tiep.html">Xem thêm</a>
      </div> -->

    </div>
    <!--/ Content row end -->

  </div>
  <!--/ Container end -->
</section>
<!--/ News end -->
