<div class="sidebar sidebar-left">
  <!--Tiếng Anh-->
  <div class="widget">
    <h3 class="widget-title">Tiếng Anh</h3>
    <ul class="nav service-menu">
      <li class="@@tienganh_giao_tiep"><a href="/pages/chuong_trinh_hoc/tieng_anh/giao_tiep.html">Giao tiếp</a></li>
      <li class="@@tienganh_ielts"><a href="/pages/chuong_trinh_hoc/tieng_anh/ielts.html">IELTS</a></li>
      <li class="@@tienganh_celpip"><a href="/pages/chuong_trinh_hoc/tieng_anh/celpip.html">CELPIP</a>
      <li class="@@tienganh_quoc_tich"><a href="/pages/chuong_trinh_hoc/tieng_anh/quoc_tich.html">Ôn thi/Quốc tịch</a>
      </li>
    </ul>
  </div>
  <!--Tiếng Đức-->
  <div class="widget">
    <h3 class="widget-title">Tiếng Đức</h3>
    <ul class="nav service-menu">
      <li class="@@tiengduc_giao_tiep"><a href="/pages/chuong_trinh_hoc/tieng_duc/giao_tiep.html">Giao tiếp</a></li>
      <li class="@@tiengduc_chung_chi"><a href="/pages/chuong_trinh_hoc/tieng_duc/chung_chi.html">Chứng chỉ</a></li>
      <li class="@@tiengduc_quoc_tich"><a href="/pages/chuong_trinh_hoc/tieng_duc/quoc_tich.html">Ôn thi/Quốc tịch</a></li>
    </ul>
  </div>
</div><!-- Sidebar end -->