<section class="subscribe no-padding" style="margin: 0 0 0 2rem; border-radius: 1rem 0 0 1rem;">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="subscribe-call-to-acton">
          <h3>Nhận tư vấn miễn phí</h3>
          <p>tuyensinh@vietgenacademy.edu.vn</p>
        </div>
      </div><!-- Col end -->

      <div class="col-lg-8">
        <div class="ts-newsletter row align-items-center">
          <div class="col-md-6 newsletter-introtext">
            <h4 class="text-white mb-0">Để lại email</h4>
            <p class="text-white">Nhận thông tin về ưu đãi mới nhất</p>
          </div>

          <div class="col-md-6 newsletter-form">
            <form action="#" method="post">
              <div class="form-group">
                <label for="newsletter-email" class="content-hidden">Email</label>
                <input type="email" name="email" id="newsletter-email" class="form-control form-control-lg"
                  placeholder="Nhập email của bạn ..." autocomplete="off">
              </div>
            </form>
          </div>
        </div><!-- Newsletter end -->
      </div><!-- Col end -->

    </div><!-- Content row end -->
  </div>
  <!--/ Container end -->
</section>
<!--/ subscribe end -->
