<!-- Header start -->
<header id="header" class="header-one">
  <div class="bg-white">
    <div class="container">
      <div class="logo-area">
        <div class="row align-items-center">
          <div class="logo col-lg-3 text-center text-lg-left mb-3 mb-md-5 mb-lg-0">
            <a class="d-block" href="/">
              <img class="logo" loading="lazy" src="/images/header-logo.png" alt="VIETGEN">
            </a>
          </div><!-- logo end -->

          <div class="col-lg-9 header-right">
            <ul class="top-info-box">
              <li>
                <div class="info-box">
                  <div class="info-box-content">
                    <p class="info-box-title text-sm-left text-center">Hotline</p>
                    <p class="info-box-subtitle text-sm-left text-center">(+9) 847-291-4353</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="info-box">
                  <div class="info-box-content">
                    <p class="info-box-title text-sm-left text-center">Email</p>
                    <p class="info-box-subtitle text-sm-left text-center">tuyensinh@vietgenacademy.edu.vn</p>
                  </div>
                </div>
              </li>
              <!-- <li class="last">
                <div class="info-box last">
                  <div class="info-box-content">
                    <p class="info-box-title">Chứng chỉ kinh doanh</p>
                    <p class="info-box-subtitle">ISO 9001:2017</p>
                  </div>
                </div>
              </li> -->
              <!-- <li class="header-get-a-quote">
                <a class="btn btn-primary" href="contact.html">Liên hệ tư vấn</a>
              </li> -->
            </ul><!-- Ul end -->
          </div><!-- header right end -->
        </div><!-- logo area end -->

      </div><!-- Row end -->
    </div><!-- Container end -->
  </div>

  <div class="site-navigation">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg navbar-dark p-0">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
              aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navbar-collapse" class="collapse navbar-collapse">
              <ul class="nav navbar-nav mr-auto">
                <!--Trang chủ-->
                <li class="nav-item @@trang_chu" data-site="trangchu">
                  <a href="/" class="nav-link" style="font-size: 14px;">Trang chủ</a>
                </li>
                <!--Giới thiệu-->
                <!-- <li class="nav-item @@ve_chung_toi" data-site="ve_chung_toi">
                  <a href="/pages/ve_chung_toi/ve_chung_toi.html" class="nav-link">Về chúng tôi</a>
                </li> -->
                <li class="nav-item dropdown @@gioi_thieu" data-site="gioi_thieu">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" style="font-size: 14px;">Giới
                    thiệu&ensp;<i class="fa fa-angle-down"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="@@ve_chung_toi" data-site="">
                      <a href="/pages/gioi_thieu/ve_chung_toi.html">Về chúng
                        tôi</a></li>
                    <li class="@@cau_hoi_thuong_gap" data-site="">
                      <a href="/pages/gioi_thieu/cau_hoi_thuong_gap.html">Câu hỏi thường
                        gặp</a>
                    </li>
                  </ul>
                </li>
                <!--Khóa học-->
                <li class="nav-item @@chuong_trinh_hoc" data-site="chuong_trinh_hoc">
                  <a href="/pages/chuong_trinh_hoc/tieng_anh/giao_tiep.html" class="nav-link" style="font-size: 14px;">
                    <span class="fa-fade" style="font-size: larger;">🎁</span> Chương trình
                    học</a>
                </li>
                <!--Cảm nhận học viên-->
                <li class="nav-item @@cam_nhan_hoc_vien" data-site="cam_nhan_hoc_vien">
                  <a href="/pages/cam_nhan_hoc_vien/cam_nhan_hoc_vien.html" class="nav-link"
                    style="font-size: 14px;">Cảm nhận học viên</a>
                </li>
                <!--Thư viện-->
                <!-- <li class="nav-item @@thu_vien" data-site="thu_vien">
                  <a href="/pages/thu_vien/tai_lieu_mien_phi.html" class="nav-link">Thư viện tài
                    liệu</a>
                </li> -->
                <!--Tuyển dụng-->
                <li class="nav-item @@tuyen_dung" data-site="tuyen_dung">
                  <a class="nav-link" href="/pages/tuyen_dung/tuyen_dung.html" style="font-size: 14px;">Tuyển dụng</a>
                </li>
                <!--Khác-->
                <li class="nav-item dropdown d-none" data-site="_khac">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Khác&ensp;<i
                      class="fa fa-angle-down"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li data-site=""><a href="/pages/_khac/index.html">Home One</a></li>
                    <li data-site=""><a href="/pages/_khac/index-2.html">Home Two</a></li>
                    <li data-site=""><a href="/pages/_khac/news-left-sidebar.html">News Left Sidebar</a></li>
                    <li data-site=""><a href="/pages/_khac/news-right-sidebar.html">News Right Sidebar</a></li>
                    <li data-site=""><a href="/pages/_khac/news-single.html">News Single</a></li>
                    <li data-site=""><a href="/pages/_khac/typography.html">Typography</a></li>
                    <li data-site=""><a href="/pages/_khac/404.html">404</a></li>
                    <li data-site=""><a href="/pages/_khac/services.html">Services All</a></li>
                    <li data-site=""><a href="/pages/_khac/service-single.html">Services Single</a></li>
                    <li data-site=""><a href="/pages/_khac/projects.html">Projects All</a></li>
                    <li data-site=""><a href="/pages/_khac/projects-single.html">Projects Single</a></li>
                    <li data-site="" class="dropdown-submenu">
                      <a href="#!" class="dropdown-toggle" data-toggle="dropdown">Parent Menu</a>
                      <ul class="dropdown-menu">
                        <li data-site=""><a href="#!">Child Menu 1</a></li>
                        <li data-site=""><a href="#!">Child Menu 2</a></li>
                        <li data-site=""><a href="#!">Child Menu 3</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <!--/ Col end -->
      </div>
      <!--/ Row end -->

      <!-- <div class="nav-search">
        <span id="search"><i class="fa fa-search"></i></span>
      </div> -->
      <!-- Search end -->

      <!-- <div class="search-block" style="display: none;">
        <label for="search-field" class="w-100 mb-0">
          <input type="text" class="form-control" id="search-field" placeholder="Type what you want and enter">
        </label>
        <span class="search-close">&times;</span>
      </div> -->
      <!-- Site search end -->
    </div>
    <!--/ Container end -->

  </div>
  <!--/ Navigation end -->
</header>
<!--/ Header end -->
