<section id="ts-service-area" class="ts-service-area pb-0">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h2 class="section-title">Chương trình học</h2>
        <h3 class="section-sub-title">Đảm bảo kết quả đầu ra</h3>
      </div>
    </div>
    <!--/ Title row end -->

    <div class="row">
      <div class="col-lg-4">
        <div class="ts-service-box d-flex justify-content-center mb-5">
          <div class="ts-service-box-img">
            <img loading="lazy" src="/images/co_nuoc_anh_2.jpg" style="height: 8rem;" alt="service-icon">
          </div>
        </div><!-- Service 1 end -->

        <div class="ts-service-box d-flex">
          <div class="ts-service-box-img">
            <!-- <img loading="lazy" src="/images/icon-image/service-icon2.png" alt="service-icon"> -->
            <span><i class="fa-regular fa-comments"></i></span>
          </div>
          <div class="ts-service-box-info">
            <h3 class="service-box-title"><a href="#">Giao tiếp</a></h3>
            <p>A1, A2, B1, B2</p>
          </div>
        </div><!-- Service 2 end -->

        <div class="ts-service-box d-flex">
          <div class="ts-service-box-img">
            <!-- <img loading="lazy" src="/images/icon-image/service-icon3.png"  alt="service-icon"> -->
            <span><i class="fa-solid fa-graduation-cap"></i></span>
          </div>
          <div class="ts-service-box-info">
            <h3 class="service-box-title"><a href="#">Ôn thi</a></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
          </div>
        </div><!-- Service 3 end -->

      </div><!-- Col end -->

      <div class="col-lg-4 text-center">
        <img loading="lazy" class="img-fluid" src="/images/services/service-center.jpg" alt="service-avater-image">
      </div><!-- Col end -->

      <div class="col-lg-4 mt-5 mt-lg-0 mb-4 mb-lg-0">
        <div class="ts-service-box d-flex justify-content-center mb-5">
          <div class="ts-service-box-img">
            <img loading="lazy" src="/images/co_nuoc_duc.jpg" style="height: 8rem;" alt="service-icon">
          </div>
        </div><!-- Service 1 end -->

        <div class="ts-service-box d-flex">
          <div class="ts-service-box-img">
            <img loading="lazy" src="/images/icon-image/service-icon5.png" alt="service-icon">
          </div>
          <div class="ts-service-box-info">
            <h3 class="service-box-title"><a href="#">Renovation</a></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
          </div>
        </div><!-- Service 5 end -->

        <div class="ts-service-box d-flex">
          <div class="ts-service-box-img">
            <img loading="lazy" src="/images/icon-image/service-icon6.png" alt="service-icon">
          </div>
          <div class="ts-service-box-info">
            <h3 class="service-box-title"><a href="#">Safety Management</a></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
          </div>
        </div><!-- Service 6 end -->
      </div><!-- Col end -->
    </div><!-- Content row end -->

  </div>
  <!--/ Container end -->
</section><!-- Service end -->
