<section id="facts" class="facts-area dark-bg" style="margin: 0 2rem 0 0; border-radius: 0 1rem 1rem 0;"">
  <div class=" container">
  <div class="facts-wrapper">
    <div class="row">
      <div class="col-md-3 col-sm-6 ts-facts">
        <div class="ts-facts-img">
          <!-- <img loading="lazy" src="/images/icon-image/fact1.png" alt="facts-img"> -->
          <span>
            <!-- <i class="fa-solid fa-user-tag"></i> -->
            📌
          </span>
        </div>
        <div class="ts-facts-content">
          <h2 class="ts-facts-num"><span class="counterUp fa-fade" data-count="16250">0</span></h2>
          <h3 class="ts-facts-title">Đăng ký học thử</h3>
        </div>
      </div><!-- Col end -->

      <div class="col-md-3 col-sm-6 ts-facts mt-5 mt-sm-0">
        <div class="ts-facts-img">
          <!-- <img loading="lazy" src="/images/icon-image/fact2.png" alt="facts-img"> -->
          <span>
            <!-- <i class="fa-solid fa-earth-americas"></i> -->
            🌎
          </span>
        </div>
        <div class="ts-facts-content">
          <h2 class="ts-facts-num"><span class="counterUp fa-fade" data-count="6730">0</span></h2>
          <h3 class="ts-facts-title">Học viên tiếng Anh</h3>
        </div>
      </div><!-- Col end -->

      <div class="col-md-3 col-sm-6 ts-facts mt-5 mt-md-0">
        <div class="ts-facts-img">
          <!-- <img loading="lazy" src="/images/icon-image/fact3.png" alt="facts-img"> -->
          <span>
            <!-- <i class="fa-solid fa-earth-europe"></i> -->
            🌍
          </span>
        </div>
        <div class="ts-facts-content">
          <h2 class="ts-facts-num"><span class="counterUp fa-fade" data-count="9140">0</span></h2>
          <h3 class="ts-facts-title">Học viên tiếng Đức</h3>
        </div>
      </div><!-- Col end -->

      <div class="col-md-3 col-sm-6 ts-facts mt-5 mt-md-0">
        <div class="ts-facts-img">
          <!-- <img loading="lazy" src="/images/icon-image/fact4.png" alt="facts-img"> -->
          <span>
            <!-- <i class="fa-solid fa-handshake-simple"></i> -->
            🤝
          </span>
        </div>
        <div class="ts-facts-content">
          <h2 class="ts-facts-num"><span class="counterUp fa-fade" data-count="16">0</span></h2>
          <h3 class="ts-facts-title">Đơn vị hợp tác</h3>
        </div>
      </div><!-- Col end -->

    </div> <!-- Facts end -->
  </div>
  <!--/ Content row end -->
  </div>
  <!--/ Container end -->
</section><!-- Facts end -->
